<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagination</title>
</head>
<body>
<nav
        th:fragment="offset-pagination(pagedModel, pageable, targetDivId)"
        th:with="page=${pagedModel.getMetadata()}, order=${pageable.getSort().stream().findFirst().orElse(null)}"
        id="pagination"
        aria-label="Page navigation"
        class="mt-2 mb-5"
>
    <div class="d-flex justify-content-between align-items-center">
        <div
                class="text-muted d-none d-sm-block text-nowrap"
                th:with="start=${page.number * page.size + 1}, end=${T(java.lang.Math).min((page.number + 1) * page.size, page.totalElements)}"
        >
            <span th:text="|${start}-${end} of ${page.totalElements}|"></span>
        </div>

        <ul
                class="pagination mb-0"
                th:if="${!pagedModel.getContent().isEmpty() && page.totalPages > 1}"
                th:with="currentPage = ${page.number}, totalPages = ${page.totalPages}"
        >
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a
                        class="page-link"
                        th:tabindex="${currentPage == 0} ? '-1' : '0'"
                        href="#"
                        hx:get="@{${currentUrl}(page=${currentPage - 1}, size=${pageable.pageSize}, sort=${order != null ? order.getProperty() + ',' + order.getDirection() :''})}"
                        hx:target="${targetDivId}"

                        aria-label="Previous"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li
                    class="page-item"
                    th:each="pageItem : ${T(dev.azdanov.pagination.util.PaginationUtils).getPageItems(page)}"
                    th:classappend="${pageItem.pageNumber == currentPage + 1} ? 'active'"
            >
                <a
                        class="page-link"
                        href="#"
                        hx:get="@{${currentUrl}(page=${pageItem.pageNumber - 1}, size=${pageable.pageSize}, sort=${order != null ? order.getProperty() + ',' + order.getDirection() :''})}"
                        hx:target="${targetDivId}"
                        th:text="${pageItem.isEllipsis() ? '&hellip;' : pageItem.pageNumber}"
                        th:aria-label="${'Page ' + pageItem.pageNumber}"
                ></a>
            </li>

            <li
                    class="page-item"
                    th:classappend="${currentPage == totalPages - 1} ? 'disabled'"
            >
                <a
                        class="page-link"
                        th:tabindex="${currentPage == totalPages - 1} ? '-1' : '0'"
                        href="#"
                        hx:get="@{${currentUrl}(page=${currentPage + 1}, size=${pageable.pageSize}, sort=${order != null ? order.getProperty() + ',' + order.getDirection() :''})}"
                        hx:target="${targetDivId}"
                        aria-label="Next"
                >
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>

        <div class="d-flex align-items-center">
            <label
                    class="text-muted d-none d-sm-block pe-2 text-nowrap"
                    for="paginationSize"
            >
                Page size
            </label>
            <select
                    class="form-select form-select w-auto text-center"
                    name="size"
                    id="paginationSize"
                    hx:get="@{${currentUrl}(page=0, sort=${order != null ? order.getProperty() + ',' + order.getDirection() :''})}"
                    hx:target="${targetDivId}"
            >
                <option
                        th:each="size : ${ { 5, 10, 20, 50, 100} }"
                        th:value="${size}"
                        th:text="${size}"
                        th:selected="${page.size == size}"
                ></option>
            </select>
        </div>
    </div>
</nav>

</body>
</html>