<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/main}" lang="en">
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="content">
    <h1 class="mb-4">Users</h1>
    <p>This table's pagination uses Spring Data JPA Pageable offset based pagination: <a
            href="https://docs.spring.io/spring-data/jpa/reference/repositories/query-methods-details.html#repositories.special-parameters">Spring
        Data JPA - Paging, Iterating Large Results, Sorting & Limiting</a></p>
    <div hx:get="|/users/list|" hx-trigger="load">
        <div class="spinner-border htmx-indicator" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>


</div>
</body>
</html>
